.form {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../Images/ICON/bannerbackground.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 668px) {
  .form {
    min-height: 80vh;
    padding: 2rem;
    background-position-x: -400px;
  }
}
